.SubNavContainer {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 58px;
    background-color: var(--brand-color-canvas-default);
    /*border-bottom: 1px solid var(--brand-color-border-default)*/
}

.SubNavContainer > div {
    position: static
}

.SubNav {
    text-align: center
}

.SubNav [role=separator] {
    display: none
}

.SubNav li > a {
    display: inline-block;
}

@media (min-width: 1012px) {
    .SubNavContainer {
        height: auto;
        background-color: rgba(13, 17, 23, .8);
        /*background-color: #fff;*/
        -webkit-backdrop-filter: blur(60px);
        backdrop-filter: blur(60px)
    }

    .SubNav {
        position: relative;
        justify-content: center
    }

    .SubNav ul {
        justify-content: center;
        gap: var(--base-size-48)
    }
}
