.ShinyText {
    background: radial-gradient(circle 300px at 30% -180%, var(--text-color) 0%, #ffffff 100%);
    /*TODO: configurable*/
    --text-color: #41D1FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}