html[data-color-mode="dark"] body {
    /*background-color: #000;*/
    background-color: rgba(13, 17, 23, 1);
}

.lp-SubNavContainer {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 58px;
    background-color: var(--brand-color-canvas-default);
    /*border-bottom: 1px solid var(--brand-color-border-default)*/
}

.lp-SubNavContainer > div {
    position: static
}

.lp-SubNav {
    text-align: center
}

.lp-SubNav [role=separator] {
    display: none
}

.lp-SubNav li > a {
    display: inline-block !important
}

@media (min-width: 1012px) {
    .lp-SubNavContainer {
        height: auto;
        background-color: rgba(13, 17, 23, .8);
        /*background-color: #fff;*/
        -webkit-backdrop-filter: blur(60px);
        backdrop-filter: blur(60px)
    }

    .lp-SubNav {
        position: relative;
        justify-content: center
    }

    .lp-SubNav ul {
        justify-content: center;
        gap: var(--base-size-48)
    }
}
