@import "@xyd-js/themes/dist/decorators/page-sketch.css";
@import "@xyd-js/themes/dist/decorators/page-leftpad.css";
@import "@xyd-js/themes/dist/decorators/sidebar-pad.css";

@layer themes {
    xyd-layout-primary {
        /* layout: Page */

        &:not([data-layout="wide"]) {
            [part="page-container"] {
                max-width: 100%;
            }

            [part="page-scroll"],
            [part="page-article-container"] {
                padding: 0;
            }

            [part="page-article"] {
                background-image: var(--opener-content-background);
                background-attachment: fixed;

                flex: 2;
            }

            [part="page-article-nav"] {
                /* top: calc(var(--xyd-header-total-height) + var(--page-article-nav-top)); */
                flex: 1;
            }
        }


        [part="page-article-container"] {
            padding: 12px 0;
        }
    }
}