@layer themes {
    header {
        border-bottom: 1px solid var(--dark32);
    }

    xyd-sidebar {
        border-radius: 0;
        border-right: 0.5px solid var(--dark32);
    }

    xyd-subnav {
        border-top: 1px solid var(--dark32);
        border-radius: 0;
        background: var(--white);
    }

    xyd-layout-primary[data-hide-subheader="true"] {
        xyd-subnav {
            border-top: none;
        }
    }

    xyd-layout-primary {
        &:not([data-layout="wide"]) {
            [part="page-container"] {
                max-width: 100%;
            }

            [part="page-scroll"],
            [part="page-article-container"] {
                padding: 0;
            }

            [part="page-article"] {
                background-image: linear-gradient(180deg, rgba(var(--opener-gray4-rgb), 0.5) 0%, rgba(var(--opener-gray4-rgb), 0) 48.32%);
                background-attachment: fixed;

                flex: 2;

                border-right: 1px solid var(--dark32);
            }

            [part="page-article-nav"] {
                flex: 1;
            }
        }

        @media (min-width: 1440px) {
            xyd-subnav {
                --xyd-layout-max-width: 1600px;
                --xyd-sidebar-width: 350px;
                padding-left: max(32px, calc(50% - var(--xyd-layout-max-width) / 2 + 32px));
            }
            aside[part="sidebar"] {
                --xyd-layout-max-width: 1600px;
                --xyd-sidebar-width: 350px;

                padding-left: max(32px, calc((100% - (var(--xyd-layout-max-width) - 64px)) / 2));
                width: calc((100% - (var(--xyd-layout-max-width) - 64px)) / 2 + var(--xyd-sidebar-width) - 32px);
            }
        }

        opener-content {
            [part="opener-content-header"] {
                padding: 25px 75px;
                border-bottom: 1px solid var(--dark32);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            [part="opener-content"] {
                padding: 25px 75px;
            }
        }
    }
}