@font-face {
    font-family: 'Fustat';
    src: url('../../public/fonts/fustat-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('../../public/fonts/fustat-ext-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('../../public/fonts/fustat-ext-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('../../public/fonts/fustat-ext-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Fustat', sans-serif;
}

ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button, [role=button] {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

p {
    padding: 0;
    margin: 0;
}