@import "@xyd-js/themes/dist/decorators/sidebar-pad.css";

@layer themes {
    :root {
        --cosmo-scrollbar-bgcolor: var(--xyd-toc-scroll-bgcolor);
    }

    xyd-layout-primary {
        [part="sidebar"] {
            height: calc(var(--sidebar-height) - var(--xyd-nav-height-space-user, 8px));
        }

        xyd-nav {
            padding: 0 var(--xyd-page-gutter, 8px);
        }

        nav[part="nav"] {
            background: var(--dark8);
            border-radius: var(--xyd-border-radius-small);
        }

        xyd-sidebar {
            [part="item-header"] {
                position: sticky;
                top: calc(var(--xyd-sidebar-padding) * -1);
                background: var(--xyd-sidebar-bgcolor);
                z-index: 1;
                padding-left: var(--xyd-sidebar-item-padding-left);
                padding-bottom: 8px;
                padding-top: 16px;
            }

            [part="item-header"]:first-of-type {
                margin-top: 0;
            }
        }
    }
}