@import "@xyd-js/themes/dist/decorators/sidebar-pad.css";

@layer themes {
    :root {
        --cosmo-scrollbar-bgcolor: var(--xyd-toc-scroll-bgcolor);
    }

    xyd-layout-primary {
        [part="sidebar"] {
            height: calc(var(--sidebar-height) - var(--theme-nav-height-space, 8px));
        }

        &[data-subheader="true"] {
            [part="sidebar"] {
                height: calc(var(--sidebar-subheader-height) - var(--theme-nav-height-space, 8px));
            }
        }

        xyd-nav {
            padding: 0 var(--xyd-page-gutter, 8px);

            nav[part="nav"] {
                background: var(--dark8);
                border-radius: var(--xyd-border-radius-small);
                padding: 0;

                @media (min-width: 1024px) {
                    padding: 0 calc(var(--xyd-sidebar-item-padding-total) - var(--xyd-page-gutter));
                }
            }
        }

        [part="header-subheader"] {
            padding: 0 var(--xyd-page-gutter, 8px);
        }

        header[part="header"]:has(xyd-subnav) {
            nav[part="nav"] {
                background: unset;
            }
        }

        xyd-subnav {
            padding: 0;
        }

        xyd-sidebar {
            [part="item-header"] {
                /* position: sticky; TODO: in the future */
                top: calc(var(--xyd-sidebar-padding) * -1);
                background: var(--xyd-sidebar-bgcolor);
                z-index: 1;
                padding-left: var(--xyd-sidebar-item-padding-left);
                padding-bottom: 8px;
                padding-top: 16px;
            }

            [part="item-header"]:first-of-type {
                margin-top: 0;
            }
        }
    }
}