@import "@xyd-js/themes/dist/decorators/atlas-vars.css";

/* Sidebar */

:root {
    --xyd-sidebar-width: 280px;
    --xyd-sidebar-padding: 16px;
}

/* Subnav */
:root {
    --xyd-subnav-height: 50px;
}

