.cardsGrid {
    position: relative;
    margin-right: -3px;
    margin-top: 4rem;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-left: 1px;
    padding-top: 1px;
    height: 100%;
}

.card {
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dots-border, #2F3037);
    background-color: rgb(19 19 22);
    padding: 2rem 0;
    transition: border-color 0.15s, z-index 0.15s;
    transition-delay: 0.15s;
    width: 50%;
}

@media (min-width: 40em) {
    .card {
        width: 33.333333%;
    }
}

.card:hover {
    transition-delay: 0s;
    transition-duration: 0.3s;
}

.card:focus {
    z-index: 46;
    transition: none;
}

.cardContent {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.cardImageContainer {
    position: relative;
    aspect-ratio: 104/42;
    width: calc(104 / 16 * 1rem);
    max-width: 100%;
    transform: translateY(1rem);
    transition: transform 0.3s;
}

.card:hover .cardImageContainer,
.card:focus .cardImageContainer {
    transform: translateY(0);
}

.cardImageOutline {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
}

.card:hover .cardImageOutline,
.card:focus .cardImageOutline {
    opacity: 0;
}

.cardImageFilled {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .cardImageFilled,
.card:focus .cardImageFilled {
    opacity: 1;
}

.cardTitle {
    margin-top: 0.5rem;
    font-weight: 500;
    color: rgb(255 255 255);
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .cardTitle,
.card:focus .cardTitle {
    opacity: 1;
    transition-delay: 75ms;
}

.cardsBackground {
    pointer-events: none;
    position: absolute;
    inset: 0;
}

@media (min-width: 40em) {
    .cardsBackground {
        right: 1px;
    }
}

.verticalLine {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    opacity: 0.1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 4'%3E%3Crect width='1' height='1' fill='%23fff'/%3E%3C/svg%3E");
    -webkit-mask-image: linear-gradient(to bottom, transparent, white 5rem, white calc(100% - 5rem), transparent);
    mask-image: linear-gradient(to bottom, transparent, white 5rem, white calc(100% - 5rem), transparent);
    margin-top: -5rem;
    margin-bottom: -5rem;
}

.verticalLineLeft {
    left: 1px;
}

.verticalLineRight {
    right: 1px;
}

.verticalLineCenter {
    left: 50%;
    margin-left: -0.5px;
}

@media (min-width: 40em) {
    .verticalLineCenter {
        left: 33.333333%;
        margin-left: 0;
    }
}

.verticalLineTwoThirds {
    left: 66.666667%;
    display: none;
}

@media (min-width: 40em) {
    .verticalLineTwoThirds {
        display: block;
        margin-left: -1px;
    }
}