.supademo-cover {
    margin-top: 16px;
    position: relative;
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2726%27%20height%3D%2731%27%20fill%3D%27none%27%20viewBox%3D%270%200%2026%2031%27%3E%3Cpath%20fill%3D%27%23fff%27%20fill-rule%3D%27evenodd%27%20stroke%3D%27%23010101%27%20stroke-linecap%3D%27square%27%20stroke-width%3D%272.5%27%20d%3D%27M21.993%2014.425%202.549%202.935l4.444%2023.108%204.653-10.002%2010.347-1.616Z%27%20clip-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E") 0 0, auto;
}
  
.supademo-cover .supademo-cover-bg {
    border-radius: 16px;

    background-image: url(/public/assets/analytics-demo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    right: 0;
    height: 450px;
}

.supademo-cover .supademo-heading {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supademo-cover button {
    /* width: 100px; */
    padding-inline: 60px;
    margin: 0 auto;
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2728%27%20height%3D%2729%27%20fill%3D%27none%27%20viewBox%3D%270%200%2028%2029%27%3E%3Cpath%20fill%3D%27%23fff%27%20d%3D%27M6.84%2021.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1%202.1%200%200%201-.25-1.67%202.2%202.2%200%200%201%202.39-1.67c.85.18%201.63.6%202.25%201.2.43.41.82.85%201.18%201.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7%204.7%200%200%201%20.43-3.08c.58-.55%201.44-.7%202.17-.37a4.4%204.4%200%200%201%201.57%202.17c.43%201.07.72%202.19.86%203.33.27%201.67.79%204.1.8%204.6%200-.61-.11-1.91%200-2.5.12-.6.54-1.1%201.12-1.33.5-.15%201.02-.19%201.53-.1.52.1.98.4%201.29.83.38.98.6%202%20.63%203.05.04-.91.2-1.82.47-2.7.28-.39.68-.67%201.15-.8.55-.1%201.11-.1%201.66%200%20.46.15.85.44%201.14.82.35.88.56%201.82.63%202.77%200%20.23.12-.65.48-1.24a1.67%201.67%200%201%201%203.17%201.07v3.77c-.06.97-.2%201.94-.4%202.9-.29.85-.7%201.65-1.2%202.38-.8.9-1.48%201.92-1.98%203.02a6.67%206.67%200%200%200%20.03%203.2c-.68.07-1.37.07-2.05%200-.65-.1-1.45-1.4-1.67-1.8a.63.63%200%200%200-1.13%200c-.37.64-1.18%201.79-1.75%201.85-1.12.14-3.42%200-5.23%200%200%200%20.3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z%27/%3E%3Cpath%20stroke%3D%27%23000%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20stroke-width%3D%272.25%27%20d%3D%27M6.84%2021.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1%202.1%200%200%201-.25-1.67%202.2%202.2%200%200%201%202.39-1.67c.85.18%201.63.6%202.25%201.2.43.41.82.85%201.18%201.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7%204.7%200%200%201%20.43-3.08c.58-.55%201.44-.7%202.17-.37a4.4%204.4%200%200%201%201.57%202.17c.43%201.07.72%202.19.86%203.33.27%201.67.79%204.1.8%204.6%200-.61-.11-1.91%200-2.5.12-.6.54-1.1%201.12-1.33.5-.15%201.02-.19%201.53-.1.52.1.98.4%201.29.83.38.98.6%202%20.63%203.05.04-.91.2-1.82.47-2.7.28-.39.68-.67%201.15-.8.55-.1%201.11-.1%201.66%200%20.46.15.85.44%201.14.82.35.88.56%201.82.63%202.77%200%20.23.12-.65.48-1.24a1.67%201.67%200%201%201%203.17%201.07v3.77c-.06.97-.2%201.94-.4%202.9-.29.85-.7%201.65-1.2%202.38-.8.9-1.48%201.92-1.98%203.02a6.67%206.67%200%200%200%20.03%203.2c-.68.07-1.37.07-2.05%200-.65-.1-1.45-1.4-1.67-1.8a.63.63%200%200%200-1.13%200c-.37.64-1.18%201.79-1.75%201.85-1.12.14-3.42%200-5.23%200%200%200%20.3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z%27%20clip-rule%3D%27evenodd%27/%3E%3Cpath%20fill%3D%27%23000%27%20d%3D%27M20.65%2022.3v-6.24c0-.38-.31-.68-.7-.68-.37%200-.68.3-.68.68v6.23c0%20.38.3.68.69.68.38%200%20.69-.3.69-.68ZM17.2%2022.3l-.04-6.25a.67.67%200%201%200-1.34.01l.04%206.24a.67.67%200%201%200%201.34%200ZM12.37%2016.07l.04%206.22c0%20.38.3.68.67.68.37%200%20.67-.3.67-.68l-.04-6.23c0-.38-.3-.68-.67-.68-.37%200-.67.31-.67.69Z%27/%3E%3C%2Fsvg%3E") 0 0, auto;
}