:root {
    --xyd-banner-height: 45px !important;
    --xyd-nav-height: 0px !important;
}

xyd-banner {
    background: none;
    border-bottom: 1px solid var(--dark32);
    justify-content: normal;
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .banner-left {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
    }

    .banner-right {
        padding-right: 20px;
    }
}