/* Global Variables */
:root {
    --poetry-blue80: #3b82f6;
    --poetry-blue100: #1d4ed8; 

    --poetry-gray64: #f5f5f5;
    --poetry-gray80: #e0e0e0;

    --poetry-gray64: #363434;
    --poetry-gray80: #1e1e1e;
}

:root {
    --poetry-color-primary: var(--poetry-blue80);
    --poetry-color-gray--secondary: var(--poetry-gray64);
}

/* Sidebar */
:root {
    --xyd-sidebar-bgcolor: var(--poetry-color-gray--secondary);
    --xyd-sidebar-item-bgcolor--active-mark: var(--poetry-color-primary);
}

/* UnderlineNav */
:root {
    --xyd-underlinenav-color--active: var(--poetry-color-primary);
}

/* Progressbar */
:root {
    --xyd-progressbar-bgcolor--active: var(--poetry-color-primary);
}

/* Code */
:root {
    --xyd-codetabs-bgcolor: var(--poetry-gray80);
    --xyd-codetabs-color: var(--poetry-gray80);
    --xyd-codetabs-color--active: var(--poetry-color-primary);
    --xyd-codetabs-color--hover: var(--poetry-gray64);
    --xyd-code-copy-color: var(--poetry-gray64);
}

/* Anchor */
:root {
    --xyd-anchor-color: var(--poetry-color-primary);
    --xyd-anchor-color--hover: var(--poetry-blue100);
}

:root {
    --xyd-page-gutter: 0;
}

/* Heading */
:root {
    --xyd-heading-icon-color: var(--poetry-color-primary);
}