:root {
    --poetry-blue80: #3b82f6;
    --poetry-blue100: #1d4ed8;

    --poetry-gray64: #f5f5f5;
    --poetry-gray80: #e0e0e0;

    --poetry-gray64: #363434;
    --poetry-gray80: #1e1e1e;
}

:root {
    --color-primary: var(--poetry-blue80);
    --color-primary--active: var(--poetry-blue100);
}

:root {
    --xyd-page-gutter: 0;
}

:root {
    --xyd-codetabs-bgcolor: var(--poetry-gray80);
    --xyd-codetabs-color: var(--white);
    --xyd-codetabs-color--hover: var(--poetry-gray64);
}