@font-face {
    font-family: 'Fustat';
    src: url('./fonts/fustat-regular.woff2') format('woff2'),
    url('./fonts/fustat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('./fonts/fustat-ext-500.woff2') format('woff2'),
    url('./fonts/fustat-ext-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('./fonts/fustat-ext-600.woff2') format('woff2'),
    url('./fonts/fustat-ext-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('./fonts/fustat-ext-700.woff2') format('woff2'),
    url('./fonts/fustat-ext-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Example usage */
body {
    font-family: 'Fustat', sans-serif;
}