@layer themes {
    :root {
        --font-body-family: "Instrument Sans", sans-serif;
        --font-body-weight: 400;

        --font-coder-family: "Roboto Mono", monospace;
        --font-coder-weight: 400;
    }
}

