@layer themes {
    /* Layout */
    xyd-layout-primary {
        header {
            [part="header-content"] {
                border-bottom: 1px solid var(--dark32);
                border-top: 1px solid var(--dark32);
            }
        }

        @media (min-width: 1024px) {
            footer {
                margin-left: var(--xyd-sidebar-width);
            }
        }
    
        > [part="header"] {
            margin-left: var(--xyd-sidebar-width);
        }

        [part="sidebar"] {
            position: fixed;
            top: var(--xyd-page-gutter);
            z-index: 1;
        }

        [part="page"] {
            position: relative;
            left: var(--xyd-sidebar-width);
            margin-right: var(--xyd-sidebar-width);
            right: 0;
        }

        @media (max-width: 1024px) {
            > [part="header"] {
                margin-left: 0
            }

            [part="page"] {
                left: 0;
                margin-right: 0;
            }
        }

        [part="page-article-container"] {
            padding: 20px 0;
        }

        &:not([data-layout="wide"]) {
            --xyd-layout-width-medium: 700px;

            [part="page-container"] {
                max-width: 100%;
            }
            [part="page-article"] {
                display: flex;
                justify-content: center;
            }
            [part="page-article-content"] {
                width: var(--xyd-layout-width-medium);
            }
        }
    }

    /* Nav */
    xyd-nav {
        [part="logo"] {
            display: none;
        }

        [part="nav"] {
            justify-content: space-between;
        }
        
        [part="list"] {
            justify-content: flex-start;
        }
    }
    xyd-subnav {
        border-bottom: 1px solid var(--dark32);
        border-radius: 0px;
        margin-top: 0px;
    }

    xyd-layout-primary[data-hide-subheader="true"] {
        xyd-subnav {
            border-top: none;
        }
    }


    /* Code */
    xyd-codetabs-languages [part=language-trigger][data-state=active] {
        font-weight: bold;
        border: none;
    }
    xyd-code-pre [part="pre"] {
        border-top: none;
    }

    /* Search */
    xyd-search-button {
        background: var(--white);
    }

    /* Sidebar */
    xyd-sidebar {
        border-right: 1px solid var(--dark32);
        border-radius: 0;
    }

    @media (min-width: 1024px) {
        xyd-sidebar-tabs-dropdown {
            display: none;
        }
    }
}