@layer decorators {
    xyd-layout-primary {
        --sidebar-height: calc(100dvh - var(--xyd-nav-height) - var(--xyd-banner-height-dynamic) - var(--xyd-nav-height-space-user, 0px));
        --sidebar-top: calc(var(--xyd-nav-height) + var(--xyd-banner-height-dynamic) + var(--xyd-nav-height-space-user, 0px));
        
        --sidebar-subheader-height: calc(100dvh - var(--xyd-header-total-height) - var(--xyd-nav-height-space-user, 0px));
        --sidebar-subheader-top: calc(var(--xyd-header-total-height) + var(--xyd-nav-height-space-user, 0px));
        
        /* layout: Sidebar */
        [part="sidebar"] {
            position: sticky;
            height: var(--sidebar-height);
            top: var(--sidebar-top);
            z-index: 1;
        }

        &[data-subheader="true"][data-hide-subheader="false"] {
            [part="sidebar"] {
                height: var(--sidebar-subheader-height);
                top: var(--sidebar-subheader-top);
            }
        }
    }
}
