@layer decorators {
    xyd-layout-primary {
        /* layout: Sidebar */
        [part="sidebar"] {
            position: sticky;
            height: calc(100dvh - var(--xyd-nav-height) - var(--xyd-banner-height-dynamic));
            top: calc(var(--xyd-nav-height) + var(--xyd-banner-height-dynamic));
            z-index: 1;
        }

        &[data-subheader="true"][data-hide-subheader="false"] {
            [part="sidebar"] {
                height: calc(100dvh - var(--xyd-header-total-height));
                top: var(--xyd-header-total-height);
            }
        }
    }
}
