:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* TODO: import reset css */

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol,
ul,
dl {
    margin-bottom: 0px;
    list-style: none;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}