@import url("../../src/styles/index.css");

@media (min-width: 720px) {
    body {
        margin: 6rem auto 3rem;
        max-width: 800px;
        padding-left: 75px;
        padding-right: clamp(0px, calc((100vw - 800px) * 0.25), 75px);
    }
}